
@{
    ViewBag.Title = "Welcome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />


</head>
<body class="fixed-top">

    <div class="row-fluid" style="text-align:center;">
        <br /><br /><br /><br /><br />
        <h1>欢迎进入仓库管理系统</h1>

    </div>

</body>

